@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


.validar,.comprobar
{
   margin-bottom:10px;
}


.cajainfoppal
{
    border: 2px solid darkblue;
  border-radius: 25px;
   margin-bottom:10px;
}

a:hover {
  background-color: yellow;
}

.btn_enlace
{
    border: 2px solid black;
    background-color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    color: darkblue!important;
    margin: 10px;
}
.btn_enlace_baremo
{
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  color: darkblue;
   margin-left: 26%;
   margin-top: 4%;
   width: 49%;
   margin-left: 26%;
   border: 2px solid black;
}

.btn_enlace:hover {background: #eee;}

.itemderecho
{
   width:9%;

}
td,th
{
   text-align:left!important;
}

#tabla_pc
{
    width: 200%;
    margin-left: -57%;
    margin-top: 40px;
}

.cajainfo
{
  border-radius: 25px;
  border: 2px solid #565853;
  padding: 20px;
  margin-left:-10%; 
  width:124%; 
  text-align:center;
  font-size:20px;
}

.usuario
{
   width: 90%!important;
   padding-left: 10px;
   margin-left: 5%;
}

#sol_table
{
   font-size:13px;
   margin-left:30px;
   width:90%; 
}

.botonform{
  border: none;
  background-color: inherit;
  padding: 5px 10px;
  font-size: 10px;
  cursor: pointer;
  display: inline-block;
   border-style: groove;
}

.enlacefbaremo {
  border: none;
  background-color: grey;
  padding: 5px 10px;
  font-size: 9px;
  cursor: pointer;
  display: inline-block;
   border-style: groove;
}
body {
    font-family: 'Poppins', sans-serif;
    color:white;
    font-size: 12px!important;
}

.row{
   margin:10px!important;
}

.verdocumentos {
  background-color: white;
  color: black;
  border: 1px solid black; /* Green */
  width:50%;
  padding:10px;
  margin:3px;
}

.formsolicitud,.formrecbaremo
{
   max-width:187%;
}

.ing
{
color:black!important;
}
#tf2centro{
width:50%;
}
.tablafase2
{
width:50%;

}
p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 400;
    line-height: 1.7em;
}

a,
a:focus {
    text-decoration: none!important;
    transition: all 0.3s;
}

.dropdown-item>a:hover{
background-color: grey;
border-radius: 5px;
width:100%;
 transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

#inicio{
	background-color: black!important;
	color: white;
}
.imprimirsolicitud{
	background-color: black!important;
	color: white;
	margin-left:986px;
}
#imprimir:hover{
background-color: white!important;
border-radius: 5px;
 transition: all 0.3s;
}
#bimprimir{
	background-color: grey!important;
	color: white;

}


.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.labelcheck
{
padding-left:5px;
padding-right:5px;
}

.nav-item{
//width:170px;
} 

.desplegable{
width:140px;
}
.desplegable2{
width:110px;
}

.dropdown-menu{
background-color:#051c33!important; 
font-size:10px!important;
}

#fnuevasolicitud
{
//width:1500px;
width:100%;
}
.container
{
max-width: 1543px!important;
}

#descargalistado{
color: black!important
}
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    //display: flex;
   width: 100%;
   padding-top:0px!important;
   text-align:center;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #585862;
    color: white;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;

}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
}

a[data-toggle="collapse"] {
    position: relative;
}

a {
color:white!important;
}
.reclamacion>a {
color:black!important;
}
a:hover {
color:black!important;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

#buscar_centros{
padding-left: 20px;
border-radius: 5px;
margin: 11px;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {

/*
    width: calc(100% - 250px);
    padding: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
*/
width: 90%;
padding: 20px;
padding-left: 107px;
min-height: 100vh;
transition: all 0.3s;
top: 0;
right: 50%;
//padding-left: 10%;
}

#content.active {
    width: 100%;
}

.mov {
   display: none;
    }

#tablasolicitud
{
max-width:100%;
}
.formsolicitud
{
color:black;
}
.theadmat{

color:white;
}
.table-dark
{
background-color:#114880!important;
}
table-dark td, .table-dark th, .table-dark thead th {
    border-color: #ebf1f6!important;
}

thead{
}

.send,.bvalidarsolicitud,.beliminarsolicitud
{
font-size:12px!important;
background-color:black!important;
}

#form_sorteo{
padding-left: 17px;
padding-top: 10px;
}

#boton_realizar_sorteo,#boton_asignar_numero{
background-color:#114880;

}
.text-md-left{
padding:9px;
}
.form-control 
{
font-size:12px!important;
display:block;margin:10px;
text-align: left!important;
padding-left: 24px;
//border-top: black!important;
//border-right: aqua!important;
}
.form-control:valid {
    border-color: black!important;
}
.formrow
{
margin-left: 15px!important;
}
.bform 
{
font-size:12px!important;
    background-color: #283960 !important;
    width: 100%;
    display:block;margin:10px;
text-align: left!important;
padding-left: 24px;
}
.bform span{
width:50%;
margin-left:10px;
}

.easy-autocomplete{ width:100%!important}

#fnalumno{
}

.right{
    float:right;
       }
#personales{
-moz-transition: -moz-transform 0.5s ease-in-out;
-o-transition: -o-transform 0.5s ease-in-out;
-webkit-transition: -webkit-transform 0.5s ease-in-out;
transition: transform 0.5s ease-in-out;
}
#navgir{
background-color:#051c33 !important;
width:98%;
margin-left:10px
}

.msuperior{
   border-right: 1px solid #e4dcdc;
   padding-left: 10px;
   padding-right: 10px;
   display:block;
}
.dalumno
{
padding-left:12%;
cursor: pointer;
}
.dalumnofirst
{
padding-left:2%;
cursor: pointer;
}

.crojo
{
	background:#4f3636 !important;
}

.cverde
{
	background: #364d36 !important;
}
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {

.cajainfo
{
   width:90%;
   margin-left:5%;
}


.mov {
   display: flow-root;
    }
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
      padding-left: 10px;
    padding-right: 30px;
    }
    #content.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
    .desk {
        display: none;
    }
.navbar-nav {
padding-left:0px!important;
}
}
